* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 87, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #1f2641;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 92%;

  --transition: all 400ms ease;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background-color: var(--color-bg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}
section#shadow-host-companion {
  padding: 0 !important;
}
section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}
a {
  color: var(--color-white);
}
img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 0.7rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
  border-radius: 0.3rem;
  cursor: pointer;
}
.btn:hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn_primary {
  background-color: var(--color-danger);
  color: var(--color-white);
}
.only_responsive_show_btn {
  display: none;
  width: fit-content;
}
.only_dextop_show_btn {
  display: block;
  width: fit-content;
}
body {
  background-image: url(../images/bg-texture.png);
}
/* =============== NAVBAR ================== */
nav {
  background-color: transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
/* Change navbar style on scroll */
nav.scroll_active {
  background-color: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .mobile_bar {
  display: none;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav_menu a {
  font-size: 0.9rem;
  transition: var(--transition);
}
.nav_menu a:hover {
  color: var(--color-bg2);
}

/* =============== Header ================== */
header {
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
}
.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  height: 100%;
}

.header_left p {
  margin: 1rem 0 2.4rem;
}

/* =============== Category ================== */

.categories {
  background-color: var(--color-bg1);
  height: 27rem;
}

.categories h1 {
  line-height: 1;
  margin-bottom: 3rem;
}

.categories_container {
  display: grid;
  grid-template-columns: 40% 60%;

  /* gap: 4rem; */
}
.categories_left {
  padding-right: 4rem;
}
.categories_left p {
  margin: 1rem 0 3rem;
}

.categories_right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.category {
  background-color: var(--color-bg2);
  padding: 2rem;
  border-radius: 2rem;
  transition: var(--transition);
}
.category:hover {
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.category:nth-child(2) .category_icon i {
  background-color: var(--color-danger);
}
.category:nth-child(3) .category_icon i {
  background-color: var(--color-success);
}
.category:nth-child(4) .category_icon i {
  background-color: var(--color-warning);
}
.category:nth-child(5) .category_icon i {
  background-color: var(--color-success);
}
.category:nth-child(6) .category_icon i {
  background-color: var(--color-primary);
}
.category_icon i {
  background-color: var(--color-primary);
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category h5 {
  margin: 1rem 0 1rem;
  font-size: 1.3rem;
}
.category p {
  font-size: 0.85rem;
}

/* =============== Populer Courses ================== */
.courses {
  margin-top: 15rem;
}
.courses_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background-color: var(--color-bg1);
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
  border-radius: 10px;
  overflow: hidden;
}
.course_image img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 400px;
  transition: var(--transition);
  transform: scale(1);
  object-fit: cover;
}
.course:hover .course_image img {
  transform: scale(1.2);
}
.course:hover .course_info {
  background-color: var(--color-bg);
}
.course:hover {
  background-color: transparent;
  border-color: var(--color-primary);
}
.course_info {
  padding: 2rem;
  overflow: hidden;
  background-color: var(--color-bg1);
  z-index: 2;
  position: relative;
}
.course_info p {
  margin: 1.2rem 0;
  font-size: 0.9rem;
}

/* =============== FAQS ================== */
.faqs {
  background-color: var(--color-bg1);
  box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.3);
}

.faqs_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.faq {
  background-color: var(--color-primary);
  height: fit-content;
  border-radius: 0.5rem;
}

.faq_title {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 0;
  cursor: pointer;
  padding: 1rem;
}
.faq_title h2 {
  font-size: 1rem;
  line-height: 2.2;
  font-weight: 500;
}
.faq_title .faq_icon {
  align-self: flex-start;
  font-size: 1.3rem;
  margin-top: -0.3rem;
}
.qusation_anws {
  padding: 0.4rem 1rem 1rem 3.7rem;
  font-size: 0.9rem;
  display: none;
}
.qusation_anws.open {
  display: block;
}

/* =============== Testimonials ================== */
.testimonials_contaner {
  overflow-x: hidden;
  position: relative;
  margin-bottom: 5rem;
  min-height: 500px;
}
.testimonial {
  padding-top: 2rem;
}
.avatar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}
.testimonial_info {
  text-align: center;
}

.testimonial_body {
  background-color: var(--color-primary);
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
  position: relative;
}

.testimonial_body::before {
  content: "";
  display: block;
  background-image: linear-gradient(
    135deg,
    transparent,
    var(--color-primary),
    var(--color-primary),
    var(--color-primary)
  );
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: calc(50% - 1.7rem);
  top: -1.5rem;
  transform: rotate(45deg);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: var(--color-bg2);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--color-success);
}

/* =============== Footer ================== */
.footer {
  background-color: var(--color-bg1);
  font-size: 0.9rem;
}
.footer_container {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer_container > div h4 {
  margin-bottom: 1.3rem;
}
.footer_widget_1 p {
  margin: 0 0 2rem;
}
.footer ul li {
  margin-bottom: 0.7rem;
}
.footer ul li a:hover {
  text-decoration: underline;
}
.footer_socail {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  margin-top: 2rem;
}
.footer_copyright {
  text-align: center;
  padding: 1rem 0;
  background-color: var(--color-bg2);
}

/*======================= Media queries (Laptop) =====================*/

@media screen and (max-width: 1200px) {
  .categories_right {
    grid-template-columns: repeat(2, 1fr);
  }
  .categories {
    height: auto;
  }
  .courses {
    margin-top: 1rem;
  }
  .courses_container {
    gap: 1rem;
  }
}

/*======================= Media queries (tablets) =====================*/
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  .only_responsive_show_btn {
    display: block;
  }
  .only_dextop_show_btn {
    display: none;
  }

  /* =============== NAVBAR ================== */
  nav .mobile_bar {
    display: block;
  }
  nav .mobile_bar button {
    background-color: transparent;
    font-size: 1.8rem;
    color: var(--color-white);
    cursor: pointer;
  }
  nav .mobile_bar button#close_menu_btn {
    display: none;
  }

  .nav_menu {
    position: fixed;
    top: 5rem;
    right: 5%;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav_menu li {
    width: 100%;
    height: 3.8rem;
    animation: animateNavItem 400ms linear forwards;
    transform-origin: top right;
    opacity: 0;
  }
  .nav_menu li:nth-child(2) {
    animation-duration: 600ms;
  }
  .nav_menu li:nth-child(3) {
    animation-duration: 800ms;
  }
  .nav_menu li:nth-child(4) {
    animation-duration: 1s;
  }
  @keyframes animateNavItem {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0deg) rotateX(0) scale(1);
      opacity: 1;
    }
  }

  .nav_menu li a {
    background-color: var(--color-primary);
    box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .nav_menu li a:hover {
    background-color: var(--color-bg2);
    color: var(--color-white);
  }

  /* =============== Header ================== */
  header {
    height: 52vh;
    margin-bottom: 4rem;
  }
  .header_container {
    gap: 0;
    padding-bottom: 3rem;
  }

  /* =============== Category ================== */

  .categories_container {
    grid-template-columns: 1fr;
  }
  .categories_left {
    text-align: center;
  }
  .categories_left p {
    margin-bottom: 2rem;
  }

  .categories_right {
    margin-bottom: 2rem;
  }
  .categories_container a.only_responsive_show_btn {
    margin: auto;
  }

  /* =============== Populer Courses ================== */
  .courses_container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* =============== FAQS ================== */
  .faqs_container {
    grid-template-columns: 1fr;
  }

  /* =============== Testimonials================== */
  .testimonials_contaner {
    height: auto;
    padding-bottom: 5rem;
  }

  /* =============== Footer ================== */
  .footer_container {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

/*======================= Media queries (Mobile) =====================*/
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.2rem;
  }

  /* =============== NAVBAR ================== */
  .nav_menu {
    right: 4%;
  }
  nav .mobile_bar {
    padding-right: 4%;
  }

  /* =============== Header ================== */
  header {
    height: 100vh;
  }
  .header_container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .header_left {
    order: 2;
  }

  /* =============== Category ================== */
  .categories_right {
    grid-template-columns: 1fr;
  }
  /* =============== Populer Courses ================== */
  .courses_container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .course_image img {
    height: 300px;
  }
  /* =============== Footer ================== */
  .footer_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer_container > div h4 {
    margin-bottom: 0.5rem;
  }
}
